html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="public/css/main.css")
        title ShopAPI
    body
        h1= title
        p Designed and created by 
            b= author
        img(src=links.personalPhoto, alt="Me", class='image')
        div 
        a(href=links.documentation) Documentation 
        div 
        a(href=links.github, target='_blank') My Github
        div 
        a(href=links.githubRepo) Github repository 
        div 
        a(href=links.deployed) Deployed
        div 
        a(href=links.linkedIn, target='_blank') My Linkedin  